@using Ical.Net;
@model List<Calendar>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h2>Все календари у пользователя</h2>
    @foreach (var calendar in @Model)
    {
        @foreach (var ev in calendar.Events)
        {
            <h3>мероприятие</h3>
            <div style="display:flex; justify-content:space-between;align-items:center;">
                <div>
                    <div>@ev.Location</div>
                    @*<div>@ev?.Calendar?.Properties[3]</div>*@
                    @foreach (var item in ev.Calendar.Properties)
                    {
                        if (item.Name == "X-WR-CALNAME")
                        {
                            <div>@item.Value?.ToString()</div>
                        }
                    }
                    <div>@ev.Description</div>
                    <div>@ev.Summary</div>
                    <div>@ev.Start</div>
                    <div>@ev.End</div>

                    <div>-------</div>
                    <div>Организатор:</div>
                    <div>@ev?.Organizer?.CommonName</div>
                    <div>@ev?.Organizer?.Value</div>
                    <div>-------</div>
                    <span>Участники: </span>
                    @foreach (var item in ev.Attendees)
                    {
                        <div>-------</div>
                        <div>@item.CommonName</div>
                        <div>@item.Value</div>
                    }
                </div>

                <div class="btn btn-danger">

                    <a class="nav-link text-dark" asp-route-uid="@ev.Uid" asp-area="" asp-controller="Home" asp-action="Remove">Remove event</a>
                </div>
            </div>
            <hr />
        }
    }

</div>
